@dim: 40px;

* {
  box-sizing: border-box;
}

.chess-board-container {
  .square {
    width: @dim;
    height: @dim;
    border: 1px solid green;
    display: inline-block;
  }
  .row {
    height: @dim;
  }
}