@dim: 40px;

body {
  background-image: url('http://cdn.superbwallpapers.com/wallpapers/cartoons/elsa-frozen-25406-400x250.jpg');
}
* {
  box-sizing: border-box;
}

.chess-board-container {
  width: @dim * 8;
  height: @dim * 8;
  .square {
    width: @dim;
    height: @dim;
    display: inline-block;
    &.black {
      background-color: #d18b47;
    }
    &.white {
      background-color: #ffce9e;
    }
  }
  .row {
    height: @dim;
  }
/*  .square {
    &:first-child {
      border-left: 1px solid black;
    }
    &:last-child {
      border-right: 1px solid black;
    }
  }
  .row {
    height: @dim;
    &:first-child {
      .square {
        border-top: 1px solid black;
      }
    }
    &:last-child {
      .square {
        border-bottom: 1px solid black;
      }
    }
  }*/
  .square {
    &.selected {
      border: 2px solid red;
    }
  }
}